* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cursor {
    cursor: pointer;
}

.btn-color{
    background-color:rgba(167, 192, 208, 0.7);
    color: black;
}
.btn-color:hover{
    background-color: rgba(167, 192, 208, 1);
    color: black;
}

main {
    min-height: 87vh;
    background-image: url(https:cdn.pixabay.com/photo/2018/07/09/14/32/tulips-3526249_960_720.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}


/* home page */
.home-main-box{
background-color:rgba(167, 192, 208, 0.5);
padding: 50px;
}
.home-main{
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr,auto,1fr);
    background-color: rgba(167, 192, 208, 0.7);
    gap: 10px;
    transition: all 500ms ease-in-out;
}
.to-lesson{
 grid-column: 1/4;
}


.slide-img{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.box-main-img{
    width: 100%;
    aspect-ratio:10/12;
    object-fit: cover;
    transition: all 500ms ease-in-out;
    border-radius: 10px;
    
    }
.box-main-img:hover {
    opacity: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
    



/* gllary */

.gallary-box{
background-color: rgba(167, 192, 208, 0.8);
    padding: 20px;
    margin: 0;
}
.gallary-show-img{
    transition: all 500ms ease-in-out;
    opacity: 0.9;
    border-radius: 10px;
}
.gallary-show-img:hover{
    opacity: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

/* about */
.about-main{
    padding: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        background-color: rgba(167, 192, 208, 0.7);
        gap: 20px;
        transition: all 500ms ease-in-out;
        padding-bottom: 50px;
       
    }
       .about-box{
        background-color: rgba(167, 192, 208, 0.5);
            padding: 50px;
       }
       .about-img{
        width: 100%;
            aspect-ratio: 12/12;
            object-fit: cover;
        transition: all 500ms ease-in-out;
        border-radius: 10px;
    
       }
            .about-img,.taxt-about:hover {
            opacity: 1;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .taxt-about{
            background-color: rgba(193, 173, 180,0.9);
            transition: all 500ms ease-in-out;
        }
